{
    border:solid;
}

body{
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}
.margin{
    margin-top: 1%;
}

.logfilters{
    display: inline-block;
    text-align: center;
}
.imgbig{
        max-width: 70%;
        text-align: center;
        max-height: 70%;
}
.imgCognits{
    max-height: 80%;
    max-width:80%;
    margin-left: 12%;
    max-width:150px;

vertical-align: middle;
}
 
.titlePlay{
    font-size: 40px;
text-align: center;
}
.subtitlePlay{
    font-size: 20px;
text-align: center;
}
.span1{
    font-size: 30px;
    color: #78C3D5;
    font-family: arial;
    display: inline-block;
}

.span2{
    font-size: 30px;
    color: #C9392F;
    font-family: arial;
    display: inline-block;
}

.img2 {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
}

.filters{
    font-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 3%;
    text-align: center;
    cursor: pointer;
    border-bottom-style: solid; border-bottom-width: 2px;
    border-bottom-color: #ececec;
}
.filters2{
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 3%;
    text-align: center;
    cursor: pointer;
    border-bottom-style: solid; border-bottom-width: 2px;
    border-bottom-color: #ececec;
}
.selecfiltr{
    border-bottom-color: black;
}

.titleFilters{
    font-size: 40px;
}
.topf{
    font-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 3%;
    text-align: center;
    cursor: pointer;
    border-bottom-style: solid; border-bottom-width: 2px;
    border-bottom-color: #ececec;
}
.hover_button{
    color: #a7a7a7;
}

.iconfil{
    font-size: 200%;
    text-align: center;
}


.noSong{
    text-align: right;
    font-size: 50px;
}
.songs{
    background: #fbfbfb;
    border-radius: 5px;
}
