{
    border:solid;
}

body{
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}
.hrs{
    background-color: red; 
}
.margin{
    margin-top: 1%;
}

.imgbig{
    height: 100%;
    width: 100%;
}

.titlePlay{
    font-size: 40px;
    margin-left: 20%;
}

.span1{
    font-size: 30px;
    color: #87ceeb;
    font-family: arial;
}

.span2{
    font-size: 30px;
    color: #cc0000;
    font-family: arial;
}

.img2 {
    display: inline-block;
}

.filters{
    font-size: 150%;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 3%;
    text-align: center;
    cursor: pointer;
    border-bottom-style: solid; border-bottom-width: 2px;
    border-bottom-color: #ececec;
}
.selecfiltr{
    border-bottom-color: black;
}
.hover_button{
    color: #a7a7a7;
}

.iconfil{
    font-size: 200%;
    text-align: center;
}

.hola{
    text-align: center;
}
.noSong{
    text-align: right;
    font-size: 50px;
}
.songs{
    background: #fbfbfb;
    border-radius: 5px;
}