body{
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}/* for the font the body*/

.margin{
    margin-top: 1%;
}

.imgbig{
    max-width: 70%;
    text-align: center;
    max-height: 70%;
}/*image of cognits*/

.imgCognits{
    max-height: 80%;
    max-width:80%;
    margin-left: 12%;
}

.titlePlay{
    font-size: 40px;
    text-align: center;
}
.subtitlePlay{
    font-size: 20px;
    text-align: center;
}

.top50{
    position: relative;
    top:1px;
    left:1px;
    right:1px;
    bottom:3px;
    margin: auto;
    height: 30px;
    width: 100px;
}

.filters{
    font-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 3%;
    text-align: center;
    cursor: pointer;
    border-bottom-style: solid; border-bottom-width: 2px;
    border-bottom-color: #ececec;
}

.filters2{
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 3%;
    text-align: center;
    cursor: pointer;
    border-bottom-style: solid; border-bottom-width: 2px;
    border-bottom-color: #ececec;
}/*For bootons filters*/

.selecfiltr{
    border-bottom-color: black;
}

.titleFilters{
    font-size: 40px;
}

.hover_button{
    color: #a7a7a7;
}/*the class of hover bootons*/

.noSong{
    text-align: right;
    font-size: 50px;
}

.songs{
    background: #fbfbfb;
    border-radius: 5px;
}
